@import "../../variables.scss";
#home{
    height: 62rem;
    padding-bottom: 4rem;
    h1, h2{
        color: $gray-light;
        margin-bottom: .5rem;
    }
    h1{
        font-family: 'raleway-extralight';
        font-size: 4rem;
    }
    h2{
        font-family: 'raleway-bold';
        font-size: 3rem;
    }
    .bb-red-light{
        width: 10rem;
        margin: 0 auto;
        margin-top: 2rem;
        margin-bottom: 4rem;
        
        
    }
}