@import "../../variables.scss";

.nav-cart{
    line-height: 2.5rem;
    transition: line-height 0.3s ease-in-out;

    -webkit-transition: font-size .5s; /* For Safari 3.1 to 6.0 */
    transition: font-size .5s;
}

.bg-gray-dark{
    color: $gray-light;
    background-color: $gray-dark;
}

.bb-gray-light{
    border-bottom: solid 2px $gray-light2;
}
.navbar{
    a{
        font-family: 'roboto-light';
        color: $gray-light;
    }
}
.cont-menu{
    color: $gray-light;
    background-color: transparent;
    padding-top: 4rem;
    -webkit-transition: padding-top .5s; /* transition is set to 'font-size 12s' */
    transition: padding-top .5s;
    -webkit-transition: background-color .5s; /* transition is set to 'font-size 12s' */
    transition: background-color .5s;
    .navbar-brand{
        img{
            width: 16rem;
            -webkit-transition: width .5s; /* For Safari 3.1 to 6.0 */
            transition: width .5s;
        }
    }
    
    .navbar-nav{
        .nav-item{
            font-size: 1rem;
            margin-left: 2rem;
            a{
                color: $blanco;
                font-family: 'raleway-extrabold';
                -webkit-transition: font-size .5s; /* transition is set to 'font-size 12s' */
                transition: font-size .5s;
            }
        }
        .nav-item.active{
            //border-bottom: solid 2px $gray-light;
            a{
                color: $red-light;
            }
        }
    }
}
.menu-sm{
    .nav-cart{
        line-height: 1rem;
        font-size: .8rem;
    }
    .cont-menu{
        padding-top: 0;
        background-color: rgba(0,0,0,.5);
        .navbar-brand{
            img{
                width: 12rem;
            }
        }
        .navbar-nav{
            .nav-item{
                font-size: .8rem;
            }
        }
    }
}

#dropdownMenuButton{
    color: $gray-light;
}