<div id="home" class="bg-section" [style.backgroundImage]="'url(./assets/images/bg-section-1.png)'">
  <div class="container h-100">
      <div class="row h-100">
          <div id="col" class="col-md-12 my-auto">
              <div class="cont-home text-center">
                  <h1>Lorem insput</h1>
                  <h2>Lorem insput</h2>
                  <div class="bb-red-light"></div>
                  <button type="button" class="btn btn-primary">Call to action</button>
              </div>
          </div>
      </div>  
  </div>
</div>