
<footer>
  <div class="container-fluid">
    <div class="row">
      <div class="col text-center">
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismo
      </div>
    </div>
  </div>
</footer>