<div class='container-fluid fix_slider'>    
    <div class="cont-owl position-relative">
        <owl-carousel [options]="CarouselOptions" [items]="images" [carouselClasses]="['owl-theme', 'sliding']" >  
            <div class="item" *ngFor="let img of images">  
                <!-- <div style="align-content: center">  
                    <img style="height: 260px;width:100%"src={{img}}/>  
                </div>  --> 
                <div class="carousel-image" [style.backgroundImage]="'url('+ img +')'"></div>
            </div>  
        </owl-carousel>  
        <div id="customNav" class="custom-nav"></div>
    </div>
</div>  